//
// IMPORTS
@use "./reset";
@use "./mixins";
@use "./variables";

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff), url(fonts/Roboto-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff), url(fonts/Roboto-Regular.woff2);
  font-weight: 700;
}
//

//
// BASIC styles
body {
  font-family: "Roboto", sans-serif;
  color: variables.$main-headline-fcolor;
}

.container,
.headline-wrapper {
  @media only screen and (min-width: 768px) {
    width: 768px;
  }

  @media only screen and (min-width: 1200px) {
    width: 1170px;
  }
}

a:hover {
  @media only screen and (min-width: 320px) {
    text-decoration: none;
  }

  @media only screen and (min-width: 768px) {
    text-decoration: underline;
  }
}

.container,
.shots-wrapper,
.footer,
.nav-mobile {
  @include mixins.flexbox(center, center, column);
}

.container {
  margin: 0 auto;
}
//

//
// HEADER
.header {
  @media only screen and (max-width: 767px) {
    padding: 23px 0px 23px;
    @include mixins.flexbox(flex-end, flex-start, row);
  }

  @media only screen and (max-width: 320px) {
    width: 320px;
  }

  @media only screen and (min-width: 321px) {
    width: 95vw;
  }

  @media only screen and (min-width: 768px) {
    width: 609px;
    padding: 41px 0px 43px;
    display: block;
  }

  @media only screen and (min-width: 1200px) {
    width: 813px;
    padding: 40px 0px 56px;
  }
}

//
// menu laptop + tablet
.nav {
  @media only screen and (max-width: 767px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    @include mixins.flexbox(space-between, flex-start, row);
  }

  & a:hover {
    text-decoration: none;
  }
}

//
// mobile menu (hamburger)
.nav-mobile-wrapper {
  @media only screen and (max-width: 767px) {
    @include mixins.flexbox(center, center, row);
    width: 44px;
    height: 37px;
    background-color: variables.$nav-bg-color-mobile-hamburger;
    position: relative;
  }

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.nav-mobile {
  gap: 2px;
  cursor: pointer;
  width: 44px;
  height: 37px;

  &::before,
  &::after,
  & input {
    content: "";
    width: 17px;
    height: 2px;
    background-color: variables.$footer-headline-fcolor;
    border-radius: 5px;
    transform-origin: left center;
    transition: opacity 100ms ease-in-out, width 100ms ease-in-out,
      rotate 100ms ease-in-out, translate 100ms ease-in-out,
      background-color 100ms ease-in-out, margin-left 100ms ease-in-out;
  }

  & input {
    appearance: none;
    margin: 0px;
    outline: none;
    pointer-events: none;
  }

  & input:checked {
    opacity: 0;
    width: 0;
  }

  &:has(input:checked)::before,
  &:has(input:checked)::after {
    width: calc(calc(2px * 3 + 2px * 2) * 1.41421356);
    margin-left: 5px;
  }

  &:has(input:checked)::before {
    rotate: 45deg;
    translate: 0 calc(2px / -2);
  }

  &:has(input:checked)::after {
    rotate: -45deg;
    translate: 0 calc(2px / 2);
  }

  &:has(input:checked) .nav-mobile__list {
    width: 182px;
    height: 208px;
    background-color: variables.$nav-bg-color-mobile-list;
    @include mixins.flexbox(space-between, flex-start, column);
    padding: 4.5px 0px;
    position: absolute;
    top: 37px;
    right: 0px;
    font-size: variables.$font-size-s;
    line-height: variables.$line-height-m;
    text-transform: uppercase;
  }

  &:has(input:checked) .nav-mobile__item:hover {
    background-color: variables.$nav-bg-color-mobile-hover;
    width: 100%;
    color: variables.$menu-hover-fcolor;
  }

  &__item {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 13px;
    height: 20px;
    @include mixins.flexbox(flex-start, center, row);

    & > a {
      width: 169px;
    }
  }
}

//
// mobile menu (list)
.nav-mobile__list {
  display: none;
}

.nav__item,
.posts__links,
.posts__paragraph,
.footer__contacts {
  font-weight: variables.$font-weight-m;
}

.nav__item,
.headline {
  text-transform: uppercase;
}

.nav__item {
  font-size: variables.$font-size-s;
  letter-spacing: 1.1px;

  &:hover {
    color: variables.$menu-hover-fcolor;
  }
}

//
// MAIN
// main pictures
.main-picture {
  background-image: url("../images/header.avif");
  background-size: cover;

  @media only screen and (max-width: 767px) {
    height: 47vw;
    background-position: center;
  }

  @media only screen and (min-width: 768px) {
    height: 361px;
  }

  @media only screen and (min-width: 1200px) {
    height: 550px;
  }
}
//

//
// reccent posts
.posts-wrapper {
  @media only screen and (max-width: 320px) {
    padding-top: 39px;
    @include mixins.flexbox(center, flex-start, column);
  }

  @media only screen and (min-width: 321px) {
    padding-top: 42px;
    @include mixins.flexbox(center, flex-start, column);
  }

  @media only screen and (min-width: 768px) {
    padding: 59px 0px 60px;
    @include mixins.flexbox(center, flex-start, column);
  }

  @media only screen and (min-width: 1200px) {
    padding: 67px 0px 68px;
  }
}

.headline,
.posts__headline {
  font-weight: variables.$font-weight-l;

  @media only screen and (max-width: 767px) {
    font-size: variables.$font-size-l;
  }

  @media only screen and (min-width: 768px) {
    font-size: variables.$font-size-xl;
  }
}

.headline {
  padding-bottom: 24px;
  line-height: variables.$line-height-m;
  letter-spacing: -0.2px;

  &::before {
    content: "-";
    margin-right: 5px;
  }

  @media only screen and (max-width: 320px) {
    letter-spacing: -0.8px;
    padding-bottom: 22px;
  }
}

.posts,
.shots {
  display: grid;
}

.posts {
  grid-row-gap: 32px;

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 768px) {
    width: 555px;
    grid-template-columns: 1fr;
  }

  @media only screen and (min-width: 1200px) {
    width: 100%;
    height: 312px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }
}

.posts__post,
.headline-wrapper {
  @include mixins.flexbox(space-between, flex-start, row);
}

.posts__post {
  @media only screen and (max-width: 767px) {
    display: block;
    height: 196px;
  }

  @media only screen and (min-width: 768px) {
    @include mixins.flexbox(space-between, flex-start, row);
    width: 555px;
  }
}

.posts__image {
  width: 160px;
  height: 140px;
}

.posts__headline {
  text-transform: capitalize;
  line-height: variables.$line-height-xxl;
}

.posts__links {
  color: variables.$main-small-text-fcolor;
  line-height: variables.$line-height-s;
  margin-bottom: 7px;
  margin-top: 2px;
  text-transform: capitalize;

  @media only screen and (max-width: 767px) {
    font-size: variables.$font-size-s;
  }

  @media only screen and (min-width: 768px) {
    font-size: variables.$font-size-m;
  }
}

.posts__links__decor {
  display: inline-block;

  @media only screen and (max-width: 767px) {
    margin: 0px 8px;
  }

  @media only screen and (min-width: 768px) {
    margin: 0px 12px;
  }
}

.posts__paragraph {
  font-size: variables.$font-size-l;
  color: variables.$main-paragraph-fcolor;
  line-height: variables.$line-height-l;
  width: 404px;

  @media only screen and (max-width: 767px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    display: block;
  }
}
//

//
// instagram shots
.shots-wrapper {
  @media only screen and (max-width: 767px) {
    padding: 69px 0px 41px;
    background-color: variables.$main-bg-color-mobile;
    @include mixins.flexbox(space-between, flex-start, column);
  }

  @media only screen and (min-width: 768px) {
    padding: 46.5px 0px 50px;
    background-color: variables.$main-bg-color;
  }

  @media only screen and (min-width: 1200px) {
    padding: 46px 0px 49px;
  }
}

.shots-text {
  font-size: variables.$font-size-m-pluse;
  letter-spacing: -0.6px;
  @extend .headline;
  &::before {
    content: "";
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }

  @media only screen and (min-width: 768px) {
    display: block;
  }
}

.headline--shots--mobile {
  display: none;

  @media only screen and (max-width: 320px) {
    display: block;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}

.headline--shots {
  @media only screen and (max-width: 320px) {
    display: none;
  }

  @media only screen and (min-width: 321px) {
    display: block;
  }

  @media only screen and (min-width: 768px) {
    padding-bottom: 35.5px;
  }

  @media only screen and (min-width: 1200px) {
    padding-bottom: 0px;
  }
}

.shots {
  grid-template-columns: repeat(4, 1fr);

  @media only screen and (min-width: 320px) {
    width: 301px;
    height: 301px;
  }

  @media only screen and (min-width: 768px) {
    width: 768px;
    height: 249px;
    grid-column-gap: 9px;
  }

  @media only screen and (min-width: 1200px) {
    width: auto;
    height: 285px;
    grid-column-gap: 10px;
  }
}

.shot {
  @media only screen and (min-width: 320px) {
    width: 301px;
  }

  @media only screen and (min-width: 768px) {
    width: 249px;
  }

  @media only screen and (min-width: 1200px) {
    width: auto;
  }
}

//
// FOOTER
.footer {
  background-color: variables.$footer-bg-color;

  @media only screen and (max-width: 767px) {
    padding: 38px 0px 47px;
  }

  @media only screen and (min-width: 768px) {
    padding: 57px 0px 56px;
  }

  @media only screen and (min-width: 1200px) {
    padding: 66px 0px 70px;
  }
}

.headline--footer,
.shots-text {
  &::after {
    content: "-";
    margin-left: 5px;
  }
}

.headline--footer {
  @media only screen and (max-width: 320px) {
    padding-bottom: 5px;
  }

  padding-bottom: 18px;
  color: variables.$footer-headline-fcolor;
}

.footer__text,
.footer__contacts {
  color: variables.$footer-text-fcolor;
}

.footer__text,
.footer__contacts {
  text-align: center;
}

.footer__text,
.footer__contacts {
  @media only screen and (min-width: 768px) {
    line-height: variables.$line-height-l;
    font-size: variables.$font-size-xl;
  }
}

.footer__text {
  @media only screen and (max-width: 320px) {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    line-height: variables.$line-height-s;
    font-size: variables.$font-size-m;
    width: 303px;
  }

  @media only screen and (min-width: 768px) {
    width: 684px;
    letter-spacing: 0.2px;
  }

  @media only screen and (min-width: 1200px) {
    line-height: variables.$line-height-xl;
  }
}

.footer__text--mobile {
  @media only screen and (max-width: 320px) {
    display: block;
  }

  @media only screen and (min-width: 321px) {
    display: none;
  }
}

.footer__icons {
  @include mixins.flexbox(space-around, flex-start, row);
  width: 198px;
  margin: 31px 0px 34px;

  @media only screen and (max-width: 320px) {
    margin: 23px 0px 18px;
  }
}

.footer__icon {
  @include mixins.flexbox(center, center, row);
  height: 34px;
  width: 34px;
  border-radius: 50%;

  &--yellow {
    border: 1px solid hsl(29, 93%, 58%);
  }

  &--blue {
    border: 1px solid hsl(221, 47%, 42%);
  }

  &--cyan {
    border: 1px solid hsl(199, 74%, 58%);
  }

  &--pink {
    border: 1px solid hsl(326, 56%, 67%);
  }

  &--red {
    border: 1px solid hsl(356, 72%, 47%);
  }
}

.footer__contacts {
  @media only screen and (max-width: 767px) {
    font-size: variables.$font-size-l;
    line-height: variables.$line-height-m-footer-mobile;
    width: 235px;
  }
  > p {
    display: inline-block;
  }

  > a:first-of-type {
    display: inline-block;
  }
}

//
@media only screen and (max-width: 767px) {
  .posts__text {
    padding-top: 8px;
  }

  .posts__post--mobile {
    display: none;
  }

  .shot--mobile {
    display: none;
  }

  .posts__links__decor--mobile {
    margin: 0px 0px 0px 5px;
  }
}

@media only screen and (min-width: 768px) {
  .posts__text {
    width: 374px;
  }
}

@media only screen and (max-width: 1199px) {
  .shot--tablet {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .posts__post:nth-child(even) {
    order: 2;
  }

  .posts__post:nth-child(odd) {
    order: 1;
  }
}
//
