//
// Imports
@use "./mixins";
@use "./variables";

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff), url(fonts/Roboto-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.woff), url(fonts/Roboto-Regular.woff2);
  font-weight: 700;
}
//

//
// Basic styles
html {
  min-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
  color: variables.$main-headline-fcolor;
}

a:hover {
  text-decoration: underline;
}

.container,
.headline-wrapper {
  width: 1170px;
}

.container,
.shots-wrapper,
.footer {
  @include mixins.flexbox(center, center, column);
}
//

.container {
  margin: 0 auto;
}
//

//
// Header
.nav__list,
.posts__post,
.headline-wrapper {
  @include mixins.flexbox(space-between, flex-start, row);
}

.nav {
  width: 813px;
  margin: 45px 0px 51px;
}

.nav__item,
.posts__links,
.posts__paragraph,
.footer__contacts {
  font-weight: variables.$font-weight-m;
}

.nav__item,
.headline {
  text-transform: uppercase;
}

.nav__item {
  font-size: variables.$font-size-s;

  &:hover {
    color: variables.$menu-hover-color;
  }
}

//
// Main
// main pictures
.main-picture {
  background-image: url("../images/header.avif");
  height: 550px;
}
//

//
// reccent posts
.posts-wrapper {
  padding: 69px 0px 37px;
  @include mixins.flexbox(center, flex-start, column);
}

.headline,
.posts__headline,
.footer__contacts {
  font-size: variables.$font-size-xl;
}

.headline,
.posts__headline {
  font-weight: variables.$font-weight-l;
}

.headline {
  padding-bottom: 24px;
  line-height: variables.$line-height-m;

  &::before {
    content: "-";
    margin-right: 5px;
  }
}

.posts,
.shots {
  display: grid;
}

.posts {
  width: 100%;
  height: 355px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 32px;
  grid-column-gap: 55px;
}

.posts__image {
  width: 160px;
  height: 140px;
}

.posts__text {
  width: 374px;
}

.posts__headline {
  text-transform: capitalize;
  line-height: variables.$line-height-xxl;
}

.posts__links {
  font-size: variables.$font-size-m;
  color: variables.$main-small-text-fcolor;
  line-height: variables.$line-height-s;
  margin-bottom: 13px;
}

.posts__links__decor {
  display: inline-block;
  margin: 0px 10px;
}

.posts__paragraph,
.footer__contacts {
  line-height: variables.$line-height-l;
}

.posts__paragraph {
  font-size: variables.$font-size-l;
  color: variables.$main-paragraph-fcolor;
  width: 404px;
}
//

//
// instagram shots
.shots-wrapper {
  background-color: variables.$main-bg-color;
  padding: 46.5px 0px 49px;
}

.shots-text {
  font-size: variables.$font-size-l - 1px;
  @extend .headline;
}

.shots {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

//
// Footer
.footer {
  background-color: variables.$footer-bg-color;
  padding: 66px 0px 70px;
}

.headline--footer,
.shots-text {
  &::after {
    content: "-";
    margin-left: 5px;
  }
}

.headline--footer {
  padding-bottom: 22px;
  color: variables.$footer-headline-fcolor;
}

.footer__text,
.footer__contacts {
  color: variables.$footer-text-fcolor;
}

.footer__text {
  width: 684px;
  text-align: center;
  line-height: variables.$line-height-xl;
}

.footer__icons {
  @include mixins.flexbox(space-around, flex-start, row);
  width: 192px;
  margin: 37px 0px 34px;
}

.footer__icon {
  @include mixins.flexbox(center, center, row);
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

.footer__icon--yellow {
  border: 1px solid hsl(29, 93%, 58%);
}

.footer__icon--blue {
  border: 1px solid hsl(221, 47%, 42%);
}

.footer__icon--cyan {
  border: 1px solid hsl(199, 74%, 58%);
}

.footer__icon--pink {
  border: 1px solid hsl(326, 56%, 67%);
}

.footer__icon--red {
  border: 1px solid hsl(356, 72%, 47%);
}

.footer__contacts {
  @include mixins.flexbox(flex-start, flex-start, row);
}
//
